{% extends 'base.html' %}
{% block title %}
{{ block.super }} - {{ article.name }}
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="/list_article/">Список продуктів</a>
    <li class="breadcrumb-item active">{{ article.name }}</li>
  </ol>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'edit_article' article.slug  %}">Редагувати</a>
    {% endif %}
      <div>
          <h1>{{ article.name }} </h1>
      </div>
        <div>
            <h3>{{ article.price }} </h3>
        </div>
      <div>
        {{ article.description }}
      </div>
      <div>
        {{ article.text }}
      </div>
      <div>
        {% if article.image %}
           <img src="{{ article.image.url }}" width='500' alt="{{ article.image.name }}">
        {% endif %}
      </div>
      <div>
        {% for galleryimage in article.gallery_images.all %}
          <img src="{{ galleryimage.image.url }}" width='300' alt="{{ galleryimage.image.name }}">
        {% endfor %}
      </div>
{% endblock %}
