{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }} - {{ article.name }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css">
{% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="btn-group">
    <a href="{% url 'edit_article' article.pk %}" class="btn btn-primary">Редагувати продукт</a>
    <form action="{% url 'delete_article' article.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Видалити продукт</button>
    </form>
</div>
{% endif %}
<div class="text-white">
    <h1 class="text-white text-center">{{ article.name }} </h1>
</div>
<div>
    <p class="text-white text-right">Орієнтовна вартість {{ article.price }} грн.</p>
</div>
<div class="center-element">
    {% if title_image %}
    <img class="center-element img-responsive" src="{{ title_image.image.url }}" width='500' alt="{{ title_image.name }}">
    {% endif %}
</div>
<div class="text-white">
    {{ article.description }}
</div>
<div class="text-white">
    {{ article.text }}
</div>

<div class="row">
    <div class="col-md-8 center-element">
        {% include 'includes/slider.html' %}
    </div>
</div>

<div class="row">
    <div class="col-md-8 center-element">
        {% include 'includes/reviews.html' %}
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
{% endblock scripts %}
