{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Список продуктів
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="/">Головна</a>
    <li class="breadcrumb-item active">Список продуктів</li>
  </ol>
{% endblock %}

{% block content %}
{% if user.is_staff %}
  <a class="btn btn-default" href="{% url 'new_article' %}">Створити новий</a>
{% endif %}
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Продукт</th>
          <th>Опис</th>
          <th>Створено</th>
          <th>Змінено</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>
              <a href="{% url 'article' article.pk %}">{{ article.name }}</a>
              <small class="text-muted d-block">{{ article.description }}</small>
            </td>
            <td class="align-middle">{{ article.text }}</td>
            <td class="align-middle">{{ article.created }}</td>
            <td class="align-middle">{{ article.updated }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
