{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %}Створити новий продукт{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'list_article' %}">Продукти</a></li>
    {% if article.name %}
      <li class="breadcrumb-item active">{{ article.name }}</li>
    {% else %}
      <li class="breadcrumb-item active">Новий продукт</li>
    {% endif %}
  </ol>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="row">
      {% include 'includes/image_edit_form.html' %}
    </div>
    <div id="g-image-delete" hidden></div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    {% if article %}
      <a href="{% url 'article' article.id %}" class="btn btn-secondary">Скасувати</a>
    {% else %}
      <a href="{% url 'list_article' %}" class="btn btn-secondary">Скасувати</a>
    {% endif %}
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/catalogue_script.js' %}"></script>
{% endblock %}
