{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Створити новий продукт{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'list_article' %}">Продукти</a></li>
    {% if article.name %}
      <li class="breadcrumb-item active">{{ article.name}}</li>
    {% else %}
      <li class="breadcrumb-item active">Новий продукт</li>
    {% endif %}
  </ol>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    {% if article %}
      {% csrf_token %}
      <button type="submit" name="delete-article" class="btn btn-secondary">Видалити</button>
    {% endif %}
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Зберегти</button>
  </form>
{% endblock %}
