{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %}
    {% if article %}
        Редагувати продукт
    {% else %}
       Створити новий продукт
    {% endif %}
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="row">
      {% include 'includes/image_edit_form.html' %}
    </div>
    <div id="g-image-delete" hidden></div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    {% if article %}
      <a href="{% url 'article' article.id %}" class="btn btn-secondary">Скасувати</a>
    {% else %}
      <a href="{% url 'list_article' %}" class="btn btn-secondary">Скасувати</a>
    {% endif %}
  </form>
{% endblock %}

